# Intro to Machine LearningÂ

## Part-1

**[Intro to Machine Learning Part1 Medium Article](https://medium.com/@aryanc55/intro-to-machine-learning-part-1-byaryan-e76b4b4248bb?sk=6b9a4217f4933d7c646515ad99bcbceb).**

I hope you have already read **[What is Machine Learning](https://medium.com/@aryanc55/what-is-machine-learning-60ec74f85d7).**

In [1]:
import pandas as pd

In [2]:
# save filepath to variable for easier access
melbourne_file_path = '../hitchhikersGuideToMachineLearning/melbourne-housing-market/Melbourne_housing_FULL.csv'
# read the data and store data in DataFrame titled melbourne_data
melbourne_data = pd.read_csv(melbourne_file_path) 
# print a summary of the data in Melbourne data
melbourne_data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,34857.000000,2.724700e+04,34856.000000,34856.000000,26640.000000,26631.000000,26129.000000,23047.000000,13742.00000,15551.000000,26881.000000,26881.000000,34854.000000
mean,3.031012,1.050173e+06,11.184929,3116.062859,3.084647,1.624798,1.728845,593.598993,160.25640,1965.289885,-37.810634,145.001851,7572.888306
std,0.969933,6.414671e+05,6.788892,109.023903,0.980690,0.724212,1.010771,3398.841946,401.26706,37.328178,0.090279,0.120169,4428.090313
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.00000,1196.000000,-38.190430,144.423790,83.000000
25%,2.000000,6.350000e+05,6.400000,3051.000000,2.000000,1.000000,1.000000,224.000000,102.00000,1940.000000,-37.862950,144.933500,4385.000000
50%,3.000000,8.700000e+05,10.300000,3103.000000,3.000000,2.000000,2.000000,521.000000,136.00000,1970.000000,-37.807600,145.007800,6763.000000
75%,4.000000,1.295000e+06,14.000000,3156.000000,4.000000,2.000000,2.000000,670.000000,188.00000,2000.000000,-37.754100,145.071900,10412.000000
max,16.000000,1.120000e+07,48.100000,3978.000000,30.000000,12.000000,26.000000,433014.000000,44515.00000,2106.000000,-37.390200,145.526350,21650.000000

In [3]:
# The Melbourne data has some missing values (some houses for which some variables weren't recorded.)
# We'll learn to handle missing values in a later tutorial.  
# Your Iowa data doesn't have missing values in the columns you use. 
# So we will take the simplest option for now, and drop houses from our data. 
# Don't worry about this much for now, though the code is:

# dropna drops missing values (think of na as "not available")
melbourne_data = melbourne_data.dropna(axis=0)

## Step 1: Specify Prediction Target
Select the target variable, which corresponds to the sales price. Save this to a new variable called `y`. You'll need to print a list of the columns to find the name of the column you need.

In [4]:
# print the list of columns in the dataset to find the name of the prediction target
melbourne_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [5]:
y = melbourne_data.Price

## Step 2: Create X
Now you will create a DataFrame called `X` holding the predictive features.

Since you want only some columns from the original data, you'll first create a list with the names of the columns you want in `X`.

You'll use just the following columns in the list (you can copy and paste the whole list to save some typing, though you'll still need to add quotes):
   
    * Rooms
    * Distance 
    * Postcode 
    * Bedroom2 
    * Bathroom
    * Landsize 
    * BuildingArea 
    * YearBuilt
    
    After you've created that list of features, use it to create the DataFrame that you'll use to fit the model.

In [6]:
# Create the list of features below
feature_names = ['Rooms','Distance', 'Postcode', 'Bedroom2', 'Bathroom',
       'Landsize', 'BuildingArea', 'YearBuilt']

# Select data corresponding to features in feature_names
X = melbourne_data[feature_names]

## Review Data
Before building a model, take a quick look at **X** to verify it looks sensible

In [7]:
# Review data
# print description or statistics from X
X.describe()

,Rooms,Distance,Postcode,Bedroom2,Bathroom,Landsize,BuildingArea,YearBuilt
count,8887.000000,8887.000000,8887.000000,8887.000000,8887.000000,8887.000000,8887.000000,8887.000000
mean,3.098909,11.199887,3111.662653,3.078204,1.646450,523.480365,149.309477,1965.753348
std,0.963786,6.813402,112.614268,0.966269,0.721611,1061.324228,87.925580,37.040876
min,1.000000,0.000000,3000.000000,0.000000,1.000000,0.000000,0.000000,1196.000000
25%,2.000000,6.400000,3044.000000,2.000000,1.000000,212.000000,100.000000,1945.000000
50%,3.000000,10.200000,3084.000000,3.000000,2.000000,478.000000,132.000000,1970.000000
75%,4.000000,13.900000,3150.000000,4.000000,2.000000,652.000000,180.000000,2000.000000
max,12.000000,47.400000,3977.000000,12.000000,9.000000,42800.000000,3112.000000,2019.000000

In [8]:
# print the top few lines
X.head()

,Rooms,Distance,Postcode,Bedroom2,Bathroom,Landsize,BuildingArea,YearBuilt
2,2,2.5,3067.0,2.0,1.0,156.0,79.0,1900.0
4,3,2.5,3067.0,3.0,2.0,134.0,150.0,1900.0
6,4,2.5,3067.0,3.0,1.0,120.0,142.0,2014.0
11,3,2.5,3067.0,4.0,2.0,245.0,210.0,1910.0
14,2,2.5,3067.0,2.0,1.0,256.0,107.0,1890.0

## Step 3: Specify and Fit Model
Create a `DecisionTreeRegressor` and save it iowa_model. Ensure you've done the relevant import from sklearn to run this command.

Then fit the model you just created using the data in `X` and `y` that you saved above.

In [9]:
from sklearn.tree import DecisionTreeRegressor
#specify the model. 
#For model reproducibility, set a numeric value for random_state when specifying the model
iowa_model = DecisionTreeRegressor(random_state=786)

# Fit the model
iowa_model.fit(X,y)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=786, splitter='best')

## Step 4: Make Predictions
Make predictions with the model's `predict` command using `X` as the data. Save the results to a variable called `predictions`.

In [10]:
predictions = iowa_model.predict(X)
print(predictions)

[1035000. 1465000. 1600000. ...  888000.  705000. 1020000.]

## Think About Your Results

Use the `head` method to compare the top few predictions to the actual home values (in `y`) for those same homes. Anything surprising?

In [11]:
# You can write code in this cell
y.head()

2     1035000.0
4     1465000.0
6     1600000.0
11    1876000.0
14    1636000.0
Name: Price, dtype: float64

It's natural to ask how accurate the model's predictions will be and how you can improve that. That will be you're next step.

## Keep Going

You are ready for **[Intro to Machine Learning Part2](link for par 2 article).**

### Read this article and comeback to execute the codes!

# Part2:

Here we will discuss model validation , overfitting and one the most used model in competitive datascience



## Step 1: Split Your Data
Use the `train_test_split` function to split up your data.

Give it the argument `random_state=1` so the `check` functions know what to expect when verifying your code.

Recall, your features are loaded in the DataFrame **X** and your target is loaded in **y**.

In [12]:
# Import the train_test_split function and uncomment
from sklearn.model_selection import train_test_split

# fill in and uncomment
train_X, val_X, train_y, val_y = train_test_split(X,y,random_state = 1)

## Step 2: Specify and Fit the Model

Create a `DecisionTreeRegressor` model and fit it to the relevant data.
Set `random_state` to 1 again when creating the model.

In [13]:
# You imported DecisionTreeRegressor in your last exercise
# and that code has been copied to the setup code above. So, no need to
# import it again

# Specify the model
iowa_model = DecisionTreeRegressor(random_state=1)

# Fit iowa_model with the training data.
iowa_model.fit(train_X,train_y)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=1, splitter='best')

## Step 3: Make Predictions with Validation data

In [14]:
# Predict with all validation observations
val_predictions = iowa_model.predict(val_X)

Inspect your predictions and actual values from validation data.

In [15]:
# print the top few validation predictions
print(val_predictions)
# print the top few actual prices from validation data
print(val_y.head())

[ 625000.  635000. 2280000. ... 2260000.  740000. 1230000.]
17359     740000.0
17097     572000.0
5265     3225000.0
21286     626000.0
9450      850000.0
Name: Price, dtype: float64

What do you notice that is different from what you saw with in-sample predictions (which are printed after the top code cell in this page).

Do you remember why validation predictions differ from in-sample (or training) predictions? This is an important idea from the last lesson.

## Step 4: Calculate the Mean Absolute Error in Validation Data

But here is twist!We will also calcukate it over the predicted and real value of preivious article model predictins!

In [16]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y, predictions)

522.3359963992349

In [17]:
from sklearn.metrics import mean_absolute_error
val_mae = mean_absolute_error(val_y,val_predictions)

# uncomment following line to see the validation_mae
print(val_mae)

244035.32538253826

## Is that MAE good?  There isn't a general rule for what values are good that applies across applications. But you'll see how to use (and improve) this number in the next step.

# Keep Going


You could write the function `get_mae` yourself. For now, we'll supply it. This is the same function you read about in the previous lesson. Just run the cell below.

In [18]:
def get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y):
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=0)
    model.fit(train_X, train_y)
    preds_val = model.predict(val_X)
    mae = mean_absolute_error(val_y, preds_val)
    return(mae)

## Step 1: Compare Different Tree Sizes
Write a loop that tries the following values for *max_leaf_nodes* from a set of possible values.

Call the *get_mae* function on each value of max_leaf_nodes. Store the output in some way that allows you to select the value of `max_leaf_nodes` that gives the most accurate model on your data.

In [19]:
import numpy as np
candidate_max_leaf_nodes = [5, 25, 50, 100, 250, 500]
# Write loop to find the ideal tree size from candidate_max_leaf_nodes
leaf = []
for i in candidate_max_leaf_nodes:
        leaf.append(get_mae(i,train_X, val_X, train_y, val_y))
        print("Max leaf nodes: %d  \t\t Mean Absolute Error:  %d" % (i,get_mae(i,train_X, val_X, train_y, val_y)))
    

# Store the best value of max_leaf_nodes (it will be either 5, 25, 50, 100, 250 or 500)
best_tree_size = candidate_max_leaf_nodes[np.argmin(leaf)]

Max leaf nodes: 5  		 Mean Absolute Error:  348324
Max leaf nodes: 25  		 Mean Absolute Error:  265095
Max leaf nodes: 50  		 Mean Absolute Error:  244247
Max leaf nodes: 100  		 Mean Absolute Error:  229963
Max leaf nodes: 250  		 Mean Absolute Error:  224545
Max leaf nodes: 500  		 Mean Absolute Error:  228240

## Step 2: Fit Model Using All Data
You know the best tree size. If you were going to deploy this model in practice, you would make it even more accurate by using all of the data and keeping that tree size.  That is, you don't need to hold out the validation data now that you've made all your modeling decisions.

In [20]:
# Fill in argument to make optimal size and uncomment
final_model = DecisionTreeRegressor(max_leaf_nodes=best_tree_size)

# fit the final model and uncomment the next two lines
final_model.fit(X, y)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=250,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

## Step 1: Use a Random Forest

In [21]:
from sklearn.ensemble import RandomForestRegressor

# Define the model. Set random_state to 1
rf_model = RandomForestRegressor()

# fit your model
rf_model.fit(train_X,train_y)

# Calculate the mean absolute error of your Random Forest model on the validation data
rf_val_predictions = rf_model.predict(val_X)
rf_val_mae = mean_absolute_error(rf_val_predictions, val_y)

print("Validation MAE for Random Forest Model: {}".format(rf_val_mae))

Validation MAE for Random Forest Model: 178339.34209163772

So far, you have followed specific instructions at each step of your project. This helped learn key ideas and build your first model, but now you know enough to try things on your own. 

Machine Learning competitions are a great way to try your own ideas and learn more as you independently navigate a machine learning project. 

# Keep Going

You are ready for **[Missing Values Medium Article](link for medium article).** -coming soon